body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    margin: 0;
    padding: 20px;
}
#form-perguntas{
    margin-top: 5vh;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

hr {
    margin: 20px 0;
    border: 1px solid #ccc;
}

.question-list {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.product {
    border: 1px solid #007bff;
    background-color: #e7f3ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}